h2{
    text-decoration: underline;
    font-style: italic;
}

body{
    font-family: 'Nuosu SIL', serif;
}

form{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tol{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}