.poi {
    background-color: #2c4b80; /* warna bg navbar */
    border-color: #325288; /* warna bg navbar */
}
.pt{
    font-size: 17px;
    padding-left: 35px;
}
.oi {
    padding-right: 30px;
    font-size: 15px;
}
